{{> admin-header }}
<main>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-8">
                <h4 class="mb-3">Create post</h4>
                <form method="POST">
                    <div class="form-group">
                        <label for="postTitle">Title:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-header" aria-hidden="true"></i></span>
                            </div>
                            <input type="text" class="form-control" id="postTitle" name="postTitle"
                                placeholder="Enter post title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="postDescription">Description:</label>
                        <textarea class="form-control" id="postDescription" name="postDescription"
                            rows="3" placeholder="Enter post text"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="postAuthor">Author:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
                            </div>
                            <input type="text" class="form-control" id="postAuthor" name="postAuthor"
                                placeholder="Enter post author">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="postDate">Date:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                            <input type="text" class="form-control" id="postDate" name="postDate"
                                placeholder="Enter post date">
                        </div>
                    </div>
                    <hr class="mb-4">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Add new post</button>
                </form>
            </div>
        </div>

    </div>
</main>
{{> admin-footer }}